html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    color: var(--text);
    background-color: var(--bg-dark);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;

    &:focus-visible {
        outline: 1px solid var(--primary);
    }
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-medium);
}

::-webkit-scrollbar-thumb {
    background: var(--border-active);
}

h1,
h2,
h3,
hr,
p {
    margin: 0;
}

hr {
    border: none;
    border-bottom: 1px solid var(--border-active);
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    font: inherit;
    background: none;
    padding: 0;
}

a {
    text-decoration: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    resize: none;
    font-family: inherit;

    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-border);
    outline: none;
    background-color: var(--secondary);
    color: var(--text);
    font-size: 0.875rem;

    transition: background-color 0.1s;

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder,
    &::placeholder {
        font-weight: 500;
    }

    &:focus-visible {
        background-color: var(--secondary-hover);
        border: 1px solid var(--primary);
    }

    &:active {
        background-color: var(--secondary-active);
    }
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
    height: 0.5rem;

    &,
    &::-webkit-progress-bar {
        border-radius: 0.25rem;
        background-color: var(--secondary);
    }

    &::-moz-progress-bar {
        border-radius: 0.25rem;
        background-color: var(--primary);
    }

    &::-webkit-progress-value {
        border-radius: 0.25rem;
        background-color: var(--primary);
    }
}

@media screen and (max-width: 960px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 1rem;
    }
}

.side-bar-layout {
    padding: 1.25rem;

    display: flex;
    gap: 1.25rem;
    height: 100%;

    & > .side-bar {
        position: relative;

        background-color: var(--bg-medium);
        padding: 1rem 1.25rem;
        border-radius: 0.5rem;
        border: 1px solid var(--layout-border);

        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & > h1 {
            font-size: 1.125rem;
            font-weight: 700;
            margin: 0.25rem 0;
        }

        & .link-list {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }
    }

    & > .content {
        flex-grow: 1;
        min-width: 0;
        margin-bottom: -1.25rem;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    background-color: var(--bg-light);
    border-radius: 0.5rem;

    .shrink {
        // Shrink column width
        width: 0;
    }
}

thead {
    text-align: left;
}

th {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-light);

    border-bottom: 1px solid var(--border-active);
}

tr {
    &:focus-visible,
    &:hover {
        td {
            background-color: var(--bg-medium);
        }
    }

    &:last-child > td {
        border-bottom: none;

        &:first-child {
            border-bottom-left-radius: 0.5rem;
        }

        &:last-child {
            border-bottom-right-radius: 0.5rem;
        }
    }
}

td {
    padding: 0.5rem 0.75rem;
    border-block: 1px solid var(--border-active);
    font-size: 0.875rem;
    font-weight: 500;
}

.loading-animation {
    animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
    0% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
    }
}

// Desktop
@media screen and (min-width: 961px) {
    .side-bar-layout {
        & > .side-bar {
            width: 100%;
            max-width: 16rem;
            overflow: auto;
            overflow: overlay;
            scrollbar-gutter: stable;
        }

        & > .content {
            margin-right: -1.25rem;

            & > * {
                padding-right: 1.25rem;

                &:last-child {
                    padding-bottom: 1.25rem;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 960px) {
    .side-bar-layout {
        padding: 0.5rem;

        flex-direction: column;
        overflow: auto;
        overflow: overlay;
        scrollbar-gutter: stable;

        & > .side-bar {
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 960px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 961px) {
    .hide-on-desktop {
        display: none !important;
    }
}
