:root {
    --primary: #237bff;
    --primary-dark: #005eeb;

    --bg-dark: #0a0a0a;
    --bg-medium: #0f0f0f;
    --bg-light: #141414;
    --bg-lightest: #222222;

    --text: #ffffff;
    --text-light: #858585;
    --border: #313131;

    --error: #f6412d;
}
