html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Inter", sans-serif;
	color: var(--text);
	background-color: var(--bg-dark);
}

* {
	box-sizing: border-box;

	&:focus-visible {
		outline-color: var(--primary);
	}
}

::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	background: var(--bg-medium);
}

::-webkit-scrollbar-thumb {
	background: var(--border-active);
}

h1,
h2,
hr,
p {
	margin: 0;
}

hr {
	border: none;
	border-bottom: 1px solid var(--border-active);
}

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
	font: inherit;
	background: none;
	padding: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input[type="text"] {
	width: 100%;

	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	border: 1px solid var(--secondary-border);
	outline: none;
	background-color: var(--secondary);
	color: var(--text);
	font-size: 0.875rem;

	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&::-ms-input-placeholder,
	&::placeholder {
		font-weight: 500;
	}

	transition: background-color 0.1s;

	&:focus-visible {
		background-color: var(--secondary-hover);
		border: 1px solid var(--primary);
	}

	&:active {
		background-color: var(--secondary-active);
	}
}

@media screen and (max-width: 960px) {
	input[type="text"] {
		font-size: 1rem;
	}
}

.side-bar-layout {
	padding: 1.25rem;

	display: flex;
	gap: 1.25rem;
	height: 100%;

	& > .side-bar {
		position: relative;

		background-color: var(--bg-medium);
		padding: 1rem 1.25rem;
		border-radius: 0.5rem;
		border: 1px solid var(--layout-border);

		display: flex;
		flex-direction: column;
		gap: 0.75rem;

		& > h1 {
			font-size: 1.125rem;
			font-weight: 700;
			margin: 0.25rem 0;
		}

		& > .link-list {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}
	}

	& > .content {
		flex-grow: 1;
		min-width: 0;
		margin-bottom: -1.25rem;
	}
}

// Desktop
@media screen and (min-width: 961px) {
	.side-bar-layout {
		& > .side-bar {
			width: 100%;
			max-width: 16rem;
			overflow: auto;
			overflow: overlay;
			scrollbar-gutter: stable;
		}

		& > .content {
			margin-right: -1.25rem;

			& > * {
				padding-right: 1.25rem;

				&:last-child {
					padding-bottom: 1.25rem;
				}
			}
		}
	}
}

// Mobile
@media screen and (max-width: 960px) {
	.side-bar-layout {
		padding: 0.5rem;

		flex-direction: column;
		overflow: auto;
		overflow: overlay;
		scrollbar-gutter: stable;

		& > .side-bar {
			padding: 1rem;
		}
	}
}

/* Screen reader only */
/* Hide but still render */
.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media screen and (max-width: 960px) {
	.hide-on-mobile {
		display: none !important;
	}
}

@media screen and (min-width: 961px) {
	.hide-on-desktop {
		display: none !important;
	}
}
