body {
	margin: 0;
	padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text);
    background-color: var(--bg-dark);
}

* {
	box-sizing: border-box;

	&:focus-visible {
		outline-color: var(--primary);
	}
}

h1,
h2,
hr {
	margin: 0;
}

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
	font: inherit;
	background: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button {
	cursor: pointer;
	font: inherit;
	border: none;
	color: var(--text);
	font-size: 0.875rem;
	font-weight: 600;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: background-color 0.1s;
	white-space: nowrap;

	&.center {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&.primary, &.secondary {
		padding: 0.5rem 1rem;
	}

	&.secondary {
		background-color: var(--secondary);

		&:disabled {
			background-color: var(--secondary-disabled);
			cursor: not-allowed;
		}
	}

	&:hover, &:focus-visible {
		text-decoration: none;
		background-color: var(--secondary-hover);
	}

	&:active {
		background-color: var(--secondary-active);
	}

	&.primary {
		background-color: var(--primary);

		&:hover, &:focus-visible {
			background-color: var(--primary-hover);
		}

		&:active {
			background-color: var(--primary-active);
		}

		&:disabled {
			background-color: var(--primary-disabled);
			cursor: not-allowed;
		}
	}
}

/* Screen reader only */
/* Hide but still render */
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media screen and (max-width: 960px) {
	.hide-on-mobile {
		display: none !important;
	}
}

@media screen and (min-width: 960px) {
	.hide-on-desktop {
		display: none !important;
	}
}
