:root {
	--primary: #222222;
	--primary-hover: #252525;
	--primary-active: #383838;
	--primary-light: #545454;
	--primary-disabled: #202020;

	--secondary: #237bff;
	--secondary-hover: #1472ff;
	--secondary-active: #0569ff;
	--secondary-disabled: #183663;

	--bg-dark: #0a0a0a;
	--bg-medium: #0f0f0f;
	--bg-light: #141414;

	--text: #ffffff;
	--text-light: #9c9c9c;
	--border: #313131;

	--error: #f6412d;

	--staff: #ee4865;
	--staff-bg: #ee48651a;

	--subscriber: #fea000;
	--subscriber-bg: #fea0001a;

	--subscriber-accent: #e099fa;

	--emote-preview-size: 10rem;
}

@media screen and (max-width: 960px) {
	:root {
		--emote-preview-size: 8rem;
	}
}
